<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Previous Trees</title>
</head>
<body>
    <h1>Previous Trees</h1>
<ul>
    {{#trees}}
        <li>
            <strong>Numbers:</strong> {{numbers}}<br>
            <strong>Tree Structure:</strong> <pre>{{treeStructure}}</pre>
        </li>
    {{/trees}}
</ul>
<a href="/enter-numbers">Back to Enter Numbers</a>
</body>
</html>